body {
  font-family: 'Montserrat', sans-serif;
}

/* Pour avoir toujours la div de droite, commenter la classe ci-dessous */
.hidden {
  display: none;
}

.display-section {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.display-section__left, .display-section__right {
  width: 100%;
  text-align: center;
}

.display-section__left p {
  text-align: left;
  padding: 12px;
  border-top: 1px solid rgba(0,0,0,0.2);
  cursor: pointer;
}

.display-section__left p:hover {
  background-color: #f1f1f1;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 4px 1px rgba(0,0,0,0.2);
}

.mail-wrapper:last-of-type p {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.display-section__left {
  border-right: 1px solid black;
}

.read-tag {
  border: 1px solid rgba(130,255,130,0.8);
  background-color: rgba(130,255,130,0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 0.8em;
  padding: 2px 4px;
  margin-left: 48px;
}

.read-tag.not {
  border: 1px solid rgba(255,150,150,0.8);
  background-color: rgba(255,150,150,0.2);
}