.navbar {
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: #32A8FD;
  justify-content: space-between;
  box-shadow: 0 1px 8px 2px rgba(0,0,0,0.3);
}

.navbar__left {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.navbar__right {
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.navbar p {
  color: #fff;
  cursor: default;
  margin: 0 12px;
}

.navbar__right p, .nav-icon {
  cursor: pointer;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}

.navbar__right p:hover, .nav-icon:hover {
  opacity: 0.6;
}


.nav-icon {
  color: #fff;
  font-size: 1.2em;
  margin: 0 12px;
}